html {
    font-size: 16px;
    color: #cdcdcd;
    font-family: 'IBM Plex Mono', monospace;
    min-height: 100vh;
}


h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.8;
    color: #ededed;
    list-style-type: square;
}

li {
    font-size: 16px;
    line-height: 1.8;
    color: #ededed;
    list-style-type: square;
}

body {
    width: 850px;
    margin: 20px auto;
    background-color: #010101;
    padding: 2px 20px 2px 20px;
    border-radius: 25px;
}

h1 {
    margin: 0;
    padding: 5px 0;
    color: #ededed;
}

footer {
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 100%;
}